<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="NewBehavior">
          <serviceMetadata httpGetEnabled="true" policyVersion="Policy15"  />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="NewBehavior" name="Battleship.Server.Services.ServerService">
        <endpoint address="ws"
          binding="wsDualHttpBinding" bindingConfiguration="DuplexBinding"
          name="" contract="Battleship.Server.IServerContract">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint name="mex" address="http://localhost:8732/BattleShip/mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/BattleShip" />
          </baseAddresses>
        </host>
      </service>
    </services>
  <bindings>
    <!-- Configure a binding that support duplex communication. -->
    <wsDualHttpBinding>
      <binding name="DuplexBinding">
      </binding>
    </wsDualHttpBinding>
  </bindings>
  </system.serviceModel>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="consoleListener" type="System.Diagnostics.ConsoleTraceListener"/>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>